.basics h1,
.basics h3,
.basics h4 {
  margin-bottom: 0;
  margin-top: 8px;
}

.basics h4 {
  font-style: italic;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: var(--color-background);
  background-image: var(--background-image);
}

header {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 16px;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 16px auto;
  padding: 0 1rem;
  max-width: var(--default-max-width);
}

#profile-picture {
  border: 5px solid var(--color-primary);
  border-radius: var(--default-border-radius);
  height: 14em;
  width: 14em;
}

.social-contact {
  margin: 8px 0;
  padding-left: 0;
  list-style: none;
  display: flex;
  justify-content: center;
}

.social-contact li a img {
  filter: var(--invert);
  padding: 4px;
  height: 50px;
  width: 50px;
}

.links,
.basics {
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin: 0 1rem;
  max-width: var(--default-max-width);
  width: 100%;
}

.links h2,
.links ul li,
.links ul {
  margin: 0;
  padding: 0;
}

.links h2 {
  margin-bottom: 8px;
  margin-top: 16px;
}

.links ul {
  list-style: none;
}

.links ul li,
.links ul li a {
  display: block;
}

.links ul li a {
  align-self: center;
  border: 3px solid var(--color-primary);
  border-radius: 32px;
  display: flex;
  justify-content: center;
  margin: 8px 0;
  padding: 8px;
}

.links ul li a span {
  padding-top: 2px;
  text-align: center;
  vertical-align: middle;
}

.links ul li a img {
  height: 1.5rem;
  width: 1.5rem;
  margin-right: 8px;
  filter: var(--invert);
}

.links ul li a:hover {
  background-color: var(--color-light);
  color: var(--color-dark);
  border: 3px solid var(--color-text);
}

.theme-section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  max-width: var(--default-max-width);
  padding: 0 16px;
  width: 100%;
}

.theme-switcher {
  display: flex;
  align-items: center;
}

.theme-switcher p {
  margin-right: 8px;
}

footer {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.copy-right {
  width: 100%;
  text-align: center;
}

.email-link {
  color: var(--color-primary);
  text-decoration: underline;
  transition: all 0.2s ease-in-out;
}

.email-link:hover,
.buy-me-coffee:hover {
  text-decoration: none;
}

.site-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: var(--default-max-width);
  padding: 0 16px;
  width: 100%;
}

.site-info h5 {
  margin: 4px 0;
  text-align: center;
}
